<%- include ('../partials/header.ejs'); %> 

<%- include ('../partials/main_nav.ejs'); %> 

<div class="container">
    <div class="row">
        <div class="offset-md-1 col-md-6"></div>
        <h1><%= title %></h1>
        <form action="" class="form" method="post">
            <div class="form-group">
                <label for="nameField">Book Title</label>
                <input type="text" class="form-control" id="nameField" name="name" value="<%= book.name %>" required>
            </div>
            <div class="form-group">
                <label for="authorField">Author</label>
                <input type="text" class="form-control" id="authorField" name="author" value="<%= book.author %>" required>
            </div>
            <div class="form-group">
                <label for="publishedField">Published</label>
                <input type="text" class="form-control" id="publishedField" name="published" value="<%= book.published %>" required>
            </div>
            <div class="form-group">
                <label for="descriptionField">Description</label>
                <textarea type="text" class="form-control" id="descriptionField" name="description" required><%= book.name %></textarea>
            </div>
            <div class="form-group">
                <label for="priceField">Price</label>
                <input type="text" class="form-control" id="priceField" name="price" value="<%= book.price %>" required>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="/book-list" class="btn btn-warning">Cancel</a>
            <a href="/book-list/delete/<%= book.id %>" class="btn btn-danger">Delete</a>

        </form>
    </div>
</div>


<%- include ('../partials/bottom_nav'); %> 

<%- include ('../partials/footer.ejs'); %> 