<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
  
  <main class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %></p>
    <div class="container text-center">
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/juliano.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Juliano Souza Chaves Costa</h5>
              <p class="card-text">I am a software engineering student at Centennial College.</p>
              <a href="\Assets\Juliano Souza Chaves Costa.pdf" target="_blank" class="btn btn-primary">Load PDF version of my resume</a>
            </div>
          </div>
        </div>
        <div class="col-8">
          <h2>Simplified Resume</h2>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  Skills
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <ul style="text-align: left">
                    <li>SQL</li>
                    <li>Java</li>
                    <li>Python</li>
                    <li>C#</li>
                    <li>Software Requirements</li>
                    <li>Web design</li>
                    <li>.NET</li>
                    <li>Git</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>MATLAB</li>
                    <li>Microsoft Office</li>
                    <li>Microsoft SharePoint</li>
                    <li>Microsoft PowerApps</li>
                    <li>Microsoft Visio</li>
                    <li>Languages: English (fluent), Portuguese (native), Spanish (advanced), and French (elementary).</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Education
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <ul>
                    <li>
                      <strong>Software Engineering Technician</strong>
                      <p>Centennial College<br>
                      Toronto, ON, Canada<br>
                      January 2022 &mdash; April 2023 (Current)</p>
                    </li>
                    <li>
                      <strong>Postgraduate Degree &mdash; Geração Distribuída
                        com Energias Renováveis (Distributed
                        Generation using Renewable Energies)</strong>
                      <p>Pontifícia Universidade Católica de Minas Gerais
                        (PUC&mdash;MG)<br>
                      Belo Horizonte, Minas Gerais, Brazil<br>
                      August 2018 &mdash; October 2019</p>
                    </li>
                    <li>
                      <strong>Bachelor of Engineering &mdash; Electrical
                        Engineering</strong>
                      <p>Centro Federal de Educação Tecnológica de
                        Minas Gerais (CEFET&mdash;MG)<br>
                      Belo Horizonte, Minas Gerais, Brazil<br>
                      February 2012 &mdash; July 2018</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Experience
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <strong>This is the third item's  accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

<%- include partials/bottom_nav %> 

<%- include partials/footer.ejs %> 