<%- include ('partials/header.ejs'); %> 

<%- include ('partials/main_nav.ejs'); %> 
  
<!--
  Name: Juliano Souza Chaves Costa
  StudentID: 301222713
  Date: 2022-10-16
-->

  <main class="container p-3">
    <h1>
      <%= title %>
    </h1>
    <!--Skills Section-->
    <div class="container text-center p-5">
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/juliano.jpg" class="card-img-top rounded-circle" alt="...">
            <div class="card-body">
              <h5 class="card-title">Juliano Souza Chaves Costa</h5>
              <p class="card-text">I am a software engineering student at Centennial College.</p>
              <a href="\Assets\Juliano Souza Chaves Costa.pdf" target="_blank" class="btn btn-primary">Load PDF version of my resume</a>
            </div>
          </div>
        </div>
        <div class="col-8">
          <h2>Simplified Resume</h2>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  Skills
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <ul style="text-align: left">
                    <li>SQL</li>
                    <li>Java</li>
                    <li>Python</li>
                    <li>C#</li>
                    <li>Software Requirements</li>
                    <li>Web design</li>
                    <li>.NET</li>
                    <li>Git</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>MATLAB</li>
                    <li>Microsoft Office</li>
                    <li>Microsoft SharePoint</li>
                    <li>Microsoft PowerApps</li>
                    <li>Microsoft Visio</li>
                    <li>Languages: English (fluent), Portuguese (native), Spanish (advanced), and French (elementary).</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--Education Section-->
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Education
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <ul>
                    <li>
                      <strong>Software Engineering Technician</strong>
                      <p>Centennial College<br>
                      Toronto, ON, Canada<br>
                      January 2022 &mdash; April 2023 (Current)</p>
                    </li>
                    <li>
                      <strong>Postgraduate Degree &mdash; Geração Distribuída
                        com Energias Renováveis (Distributed
                        Generation using Renewable Energies)</strong>
                      <p>Pontifícia Universidade Católica de Minas Gerais
                        (PUC&mdash;MG)<br>
                      Belo Horizonte, Minas Gerais, Brazil<br>
                      August 2018 &mdash; October 2019</p>
                    </li>
                    <li>
                      <strong>Bachelor of Engineering &mdash; Electrical
                        Engineering</strong>
                      <p>Centro Federal de Educação Tecnológica de
                        Minas Gerais (CEFET&mdash;MG)<br>
                      Belo Horizonte, Minas Gerais, Brazil<br>
                      February 2012 &mdash; July 2018</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Experience
                </button>
              </h2>
              <!--Experiences Section-->
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <div class="container p-2">
                    <strong>Electrical Engineer / Managing Partner</strong>
                      <p>Valor Energia<br>
                      Brazil<br>
                      2018/07 &mdash; 2021/12</p>
                      <ul>
                        <li>Electrical design, executive planning, and construction design of solar power plants</li>
                        <li>Solar power plants configuration and monitoring</li>
                        <li>Project management, team management, and construction site management</li>
                        <li>Documents and spreadsheets development for internal processes</li>
                      </ul>
                  </div>
                  <div class="container p-2">
                    <strong>Electrical Engineer Intern</strong>
                      <p>Medinas Engenharia<br>
                      Brazil<br>
                      2018/07 &mdash; 2017/12</p>
                      <ul>
                        <li>Electrical design</li>
                        <li>Power quality analysis and report elaboration</li>
                        <li>Bill of material elaboration</li>
                        <li>Construction site management (electrical)</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

<%- include ('partials/bottom_nav'); %> 

<%- include ('partials/footer.ejs'); %> 