<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
  
  <main class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %></p>
    <div class="card" style="width: 18rem;">
      <img src="/Assets/images/juliano.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Juliano Souza Chaves Costa</h5>
        <p class="card-text">I am a software engineering student at Centennial College.</p>
        <a href="\Assets\Juliano Souza Chaves Costa.pdf" class="btn btn-primary">Load PDF version of my resume</a>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav %> 

<%- include partials/footer.ejs %> 