<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
  
  <main class="container">
    <h1>
      <%= title %>
    </h1>
    <p><a href="mailto:julianosouzach@gmail.com">E-mail: julianosouzach@gmail.com</a>
    </p>

    <form>
      <h2>Message</h2>
      <label for="fname">First Name: </label>
      <input type="text" id="fname" name="fname">
      <label for="lname">Last NAme: </label>
      <input type="text" id="lname" name="lname">
      <label for="messagetext">Message: </label>
      <textarea id="messagetext" name="messagetext">write you message here</textarea>
      <input type="submit" value="Send">
    </form>
  </main>

<%- include partials/bottom_nav %> 

<%- include partials/footer.ejs %> 