<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--
  Name: Juliano Souza Chaves Costa
  StudentID: 301222713
  Date: 2022-10-16
-->

        <main class="container p-5">
            <h1>
                <%= message %>
            </h1>
            <h2>
                <%= error.status %>
            </h2>
            <pre><%= error.stack %></pre>
        </main>

<%- include partials/bottom_nav %>

<%- include partials/footer.ejs %>