<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
  
  <main class="container d-flex flex-column p-3 align-items-center">
    <h1>
      <%= title %>
    </h1>
    <h2>Juliano Souza Chaves Costa</h2>
    <p>Welcome to my portfolio</p>

    <div class="d-grid gap-2 col-6">
      <button class="btn btn-primary" type="button" id="aboutBtn">Click here to know more about me</button>
      <button class="btn btn-primary" type="button" id="projectsBtn">See projects</button>
      <button class="btn btn-primary" type="button" id="servicesBtn">Services offered</button>
      <button class="btn btn-primary" type="button" id="contactBtn">Talk to me</button>
    </div>
    
  </main>

<%- include partials/bottom_nav %> 

<script src="/Scripts/home-buttons.js"></script>

<%- include partials/footer.ejs %> 