<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
  
  <main class="container">
    <h1>
      <%= title %>
    </h1>
    <h2>Juliano Souza Chaves Costa</h2>
    <p>Welcome to my portfolio</p>

    <div class="d-grid gap-2 col-6">
      <a href="/about"><button class="btn btn-primary" type="button">Click here to know more about me</button></a>
      <a href="/projects"><button class="btn btn-primary" type="button">See projects</button></a>
      <a href="/services"><button class="btn btn-primary" type="button">Services offered</button></a>
      <a href="/contact"><button class="btn btn-primary" type="button">Talk to me</button></a>
    </div>
    
  </main>

<%- include partials/bottom_nav %> 

<%- include partials/footer.ejs %> 