<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
  
  <main class="container">
    <h1>
      <%= title %>
    </h1>
    <h2>Juliano Souza Chaves Costa</h2>
    <p>Welcome to my portfolio</p>

    <div class="d-grid gap-2 col-6">
      <a href="/about"><button class="btn btn-primary" type="button">Click here to know more about me</button></a>
      <a href="/projects"><button class="btn btn-primary" type="button">See projects</button></a>
      <a href="/services"><button class="btn btn-primary" type="button">Services offered</button></a>
      <a href="/contact"><button class="btn btn-primary" type="button">Talk to me</button></a>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" id="aboutBtn" href="/about">Click here to know more about me</button>
      <button class="btn btn-primary" type="button" id="projectsBtn" href="/projects">See projects</button>
      <button class="btn btn-primary" type="button" id="servicesBtn" href ="/services">Services offered</button>
      <button class="btn btn-primary" type="button" id="contactBtn" href="/contact">Talk to me</button>
    </div>
    
  </main>

<%- include partials/bottom_nav %> 

<script></script>

<%- include partials/footer.ejs %> 