<%- include ('../partials/header.ejs'); %> 

<%- include ('../partials/main_nav.ejs'); %> 
  
<!--
  Name: Juliano Souza Chaves Costa
  StudentID: 301222713
  Date: 2022-10-29
-->

  <main class="container p-3">
    <h2>
      <%= title %>
    </h2>
    <div class="container m-5">
      <h5><a href="mailto:julianosouzach@gmail.com"><i class="fa-solid fa-envelope"></i> E-mail: julianosouzach@gmail.com</a></h5>
      <h5><a href="https://www.linkedin.com/in/juliano-sc-costa/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></h5>
    </div>

    <h2>Leave me a message</h2>
    <form class="p-2" method="post">
      <div class="mb-3">
        <label for="fName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fName" name="fname" value=" <%= contact.fname %> ">
      </div>
      <div class="mb-3">
        <label for="lName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lName" name="lname" value=" <%= contact.lname %> ">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone" value=" <%= contact.phone %> ">
      </div>
      <div class="mb-3">
        <label for="emailAddress" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="emailAddress" name="email" value=" <%= contact.email %> ">
      </div><br>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Write your message here" id="messageText" style="height: 100px" name="message"><%= contact.message %></textarea>
        <label for="messageText">Message</label>
      </div><br>
      <button type="submit" class="btn btn-primary">Send</button>
      <a href="/contact-list" class="btn btn-warning">Cancel</a>
      <a href="/contact-list/delete/<%= contact.id %>" class="btn btn-danger">Delete</a>
    </form>
  </main>

  <%- include ('../partials/bottom_nav'); %> 

<%- include ('../partials/footer.ejs'); %>  