<%- include ('../partials/header.ejs'); %> 

<%- include ('../partials/main_nav.ejs'); %> 

<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>
            <table class="table table-bordered-table-striped-hover">
                <tr>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Second Name</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Message</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>

                <% for(let count = 0; count < ContactList.length; count++){ %>
                    <tr>
                        <td class="text-center"><%= ContactList[count].fname %> </td>
                        <td class="text-center"><%= ContactList[count].lname %> </td>
                        <td class="text-center"><%= ContactList[count].phone %> </td>
                        <td class="text-center"><%= ContactList[count].email %> </td>
                        <td class="text-center"><%= ContactList[count].message %> </td>
                        <td class="text-center"> <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary">Edit</a> </td>
                        <td class="text-center"> <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger">Delete</a> </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>


<%- include ('../partials/bottom_nav'); %> 

<%- include ('../partials/footer.ejs'); %> 